/* STYLES */
body {
  margin: 0;
  padding: 4em 0 0 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  background: #f1efee;
}
/* Utility Styles */
.hidden {
  display: none;
}
::selection {
  background: #66ccff;
  color: #FFFFFF;
  text-shadow: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
  margin: 0;
}
a {
  text-decoration: none;
  color: #66ccff;
}
a:hover {
  color: #19b3ff;
}
header {
  color: #63696f;
}
nav li {
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
nav .cat {
  margin-right: .3em;
  cursor: default;
}
section {
  min-height: 50em;
  padding: 2em 0;
}
