@import url(http://fonts.googleapis.com/css?family=Sansita+One);
/* STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  background: #f1efee url(dust.jpg);
}
/* Utility Styles */
.hidden {
  display: none;
}
::selection {
  background: #66ccff;
  color: #FFFFFF;
  text-shadow: none;
}
.mark {
  font-family: "Sansita One", arial, freesans, clean, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}
h1 small {
  font-size: 1.65rem;
}
a {
  text-decoration: none;
  color: #ff4da6;
}
a:hover {
  color: #FF99CC;
}
header {
  color: #63696f;
}
nav:after {
  content: '';
  display: block;
  clear: both;
}
nav ul {
  float: left;
  margin: 0;
  padding: .2em 0;
  white-space: nowrap;
}
nav li {
  list-style: none;
  margin: 0;
  padding: .1em .2em;
  line-height: 1.1em;
  border-radius: .25em;
  display: inline-block;
  cursor: pointer;
}
nav li.cat {
  cursor: default;
  color: #6d8fb1;
}
nav li:not(.cat):hover {
  box-shadow: 0 0 0 1px rgba(51, 54, 57, 0.19999999999999996);
  border: 0;
  text-shadow: 0 0 2px rgba(51, 54, 57, 0.15000000000000002);
  background: rgba(51, 54, 57, 0.15000000000000002);
}
nav li.active,
nav li.active:hover {
  box-shadow: 0 0 0 1px rgba(51, 54, 57, 0.15000000000000002);
  border: 0;
  border-top: 1px solid #99ddff;
  border-bottom: 1px solid #33bbff;
  text-shadow: 0 0 2px #0099e5;
  color: #FFF;
  background: #66ccff;
}
section {
  padding: 2em;
  min-height: 50em;
}
section header {
  margin: 0 auto;
  max-width: 850px;
  font-size: 2em;
  margin-bottom: 1em;
}
section article {
  margin: 0 auto;
  max-width: 850px;
  clear: both;
  padding: 0;
}
section footer {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  padding: 2em;
  margin-top: 3em;
  border-top: 0px solid rgba(51, 54, 57, 0.15000000000000002);
}
section footer img {
  vertical-align: middle;
}
.control-bar {
  line-height: 1;
  margin: 0;
  background: rgba(51, 54, 57, 0.15000000000000002);
  border-top: 1px solid #b7ada8;
  border-bottom: 1px solid #ffffff;
  color: #FFF;
  padding: 1em;
  border-radius: .3em;
  font-size: .85rem;
}
.button {
  position: relative;
  border-radius: .25em;
  padding: .25em 1em;
  line-height: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  border: 0;
  border-top: 1px solid #99ddff;
  border-bottom: 1px solid #33bbff;
  text-shadow: 0 0 2px rgba(0, 0, 100, 0.85);
  color: #FFF;
  font-size: 1.2em;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background: #66ccff none no-repeat 0 0;
}
.button:hover,
.button:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35), 0 0 1em rgba(0, 0, 0, 0.35);
}
.button:active {
  background-color: #333639;
  border-top-color: #4b5054;
  border-bottom-color: #1b1d1e;
}
