/* radio button title tooltips */
[data-title]:before,
[data-title]:after {
  display: none;
  position: absolute;
}
[data-title]:before {
  content: attr(data-title);
  bottom: 160%;
  left: -100%;
  background: rgba(0, 0, 0, 0.65);
  color: #FFF;
  padding: .5rem 1rem;
  box-shadow: 0 0 0.5rem rgba(209, 220, 231, 0.5);
  border-radius: .35rem;
  white-space: nowrap;
  font-size: .85rem;
  text-shadow: 0 -1px 1px #000000;
  z-index: 1;
}
[data-title]:after {
  content: '';
  top: -60%;
  left: 9%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.65) transparent transparent transparent;
  border-width: .5rem .5rem 0 .5rem;
  width: 0;
  height: 0;
  z-index: 2;
}
[data-title]:hover:before,
[data-title]:hover:after {
  display: block;
}
/* The important parts */
.radioshow {
  position: relative;
  clear: both;
  height: 70vh;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.radioshow .story {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: .5em;
  background: #333639 no-repeat 50% 50%;
  background-size: cover;
  box-shadow: 0 0 0 3px rgba(109, 143, 177, 0.35) inset, 0 1em 2em 0em rgba(0, 0, 0, 0.15000000000000002);
  z-index: 1;
  opacity: 0;
  overflow: hidden;
}
.radioshow .story img {
  width: 100%;
}
.radioshow .story .text {
  position: absolute;
  text-align: left;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.55);
  color: #f1efee;
  overflow-y: auto;
}
.radioshow .story .text .padme {
  padding: 2em;
}
.radioshow .story .text .next {
  float: right;
  margin-left: 1em;
}
.radioshow .story .text h2 {
  margin-bottom: 1em;
  color: #66ccff;
  text-shadow: 0 0px 2px rgba(0, 0, 0, 0.65);
}
.radioshow .story .text p {
  font-size: 1.3em;
}
.radioshow .trigger {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 0 0 -0.5em;
  opacity: 0;
  z-index: 0;
}
.radioshow .cue {
  position: relative;
  box-shadow: 0 0 0 2px #6d8fb1;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 1.5rem;
  padding: .25rem .5rem .25rem .5rem;
  z-index: 100;
  cursor: pointer;
  background: rgba(209, 220, 231, 0.35);
  color: rgba(109, 143, 177, 0.65);
  text-shadow: 0 1px 1px #FFF;
  margin: 0 .25rem;
  text-align: center;
  -webkit-transition: background 0.35s ease 0.1s;
  -moz-transition: background 0.35s ease 0.1s;
  -ms-transition: background 0.35s ease 0.1s;
  -o-transition: background 0.35s ease 0.1s;
  transition: background 0.35s ease 0.1s;
}
.radioshow .cue:hover {
  background: rgba(102, 204, 255, 0.35);
}
.radioshow .trigger:checked + .cue {
  background: #66ccff;
  color: #FFF;
  text-shadow: 0 -1px 1px #6d8fb1;
}
.radioshow .trigger:checked + .cue:nth-child(n) + .story {
  box-shadow: 0 0 0 3px rgba(109, 143, 177, 0.35) inset, 0 3em 4em -2em rgba(0, 0, 0, 0.35);
  z-index: 2;
  opacity: 1;
}
.radioshow-bottom {
  height: auto;
  padding-top: 73vh;
}
.radioshow-bottom .story {
  top: 0;
  bottom: 3em;
}
.radioshow-bottom .trigger {
  background-color: rgba(109, 143, 177, 0.55);
}
.radioshow-fade .story {
  -webkit-transition: opacity 0.75s ease 0s;
  -moz-transition: opacity 0.75s ease 0s;
  -ms-transition: opacity 0.75s ease 0s;
  -o-transition: opacity 0.75s ease 0s;
  transition: opacity 0.75s ease 0s;
}
.radioshow-scale .story {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -ms-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
.radioshow-scale .trigger:checked + .cue:nth-child(n) + .story {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.radioshow-left {
  text-align: left;
}
.radioshow-right {
  text-align: right;
}
.radioshow-right [data-title]:before {
  left: auto;
  right: -100%;
}
.hide-text .text,
.hide-text [data-title]:hover:before,
.hide-text [data-title]:hover:after {
  display: none;
}
.static-top .text {
  right: 0;
  top: 0;
  left: 0;
  height: 35%;
}
.static-bottom .text {
  right: 0;
  bottom: 0;
  left: 0;
  height: 35%;
}
.static-right .text {
  right: 0;
  top: 0;
  bottom: 0;
  width: 35%;
}
.static-left .text {
  left: 0;
  top: 0;
  bottom: 0;
  width: 35%;
}
.slide-up .text {
  right: 0;
  top: 100%;
  left: 0;
  height: 35%;
  -webkit-transition: top 0.85s ease 0s;
  -moz-transition: top 0.85s ease 0s;
  -ms-transition: top 0.85s ease 0s;
  -o-transition: top 0.85s ease 0s;
  transition: top 0.85s ease 0s;
}
.slide-up:hover .text {
  top: 65%;
}
.slide-down .text {
  right: 0;
  bottom: 100%;
  left: 0;
  height: 35%;
  -webkit-transition: bottom 0.85s ease 0s;
  -moz-transition: bottom 0.85s ease 0s;
  -ms-transition: bottom 0.85s ease 0s;
  -o-transition: bottom 0.85s ease 0s;
  transition: bottom 0.85s ease 0s;
}
.slide-down:hover .text {
  bottom: 65%;
}
.slide-left .text {
  top: 0;
  bottom: 0;
  left: 100%;
  width: 35%;
  -webkit-transition: left 0.85s ease 0s;
  -moz-transition: left 0.85s ease 0s;
  -ms-transition: left 0.85s ease 0s;
  -o-transition: left 0.85s ease 0s;
  transition: left 0.85s ease 0s;
}
.slide-left:hover .text {
  left: 65%;
}
.slide-right .text {
  top: 0;
  right: 100%;
  bottom: 0;
  width: 35%;
  -webkit-transition: right 0.85s ease 0s;
  -moz-transition: right 0.85s ease 0s;
  -ms-transition: right 0.85s ease 0s;
  -o-transition: right 0.85s ease 0s;
  transition: right 0.85s ease 0s;
}
.slide-right:hover .text {
  right: 65%;
}
